<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('./includes/nav.ejs') %>




<div class="row">

<% if(books.length > 0){ %>
  <% for(let book of books) { %>
    <div class="col s8 m3">
      <div class="card" >
        <div class="card-image">
          <img src="/book.jpg" width="20" height="200">
        </div>
        <div class="card-content">
          <p><a href="/books/<%= book._id %>"></a><%= book.title %></p>
        </div>
        <div class="card-content">
          <p><%= book.content %></p>
        </div>
        <div class="card-content">
        </div>
        <div class="card-action">
          <a href="/rent-form">Rent</a>
          <form action="/addToFavorites/<%= book._id %>" method="POST">
            <button>Add To Favorites</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">            
          </form>
        </div>
      </div> 
</div>
<% } %>
<% }else{ %>
            <!-- <h1>No products found</h1> -->
<% } %>
</div>


 


    
</body>
</html>